---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Transparency Module">
  <section class="flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold text-white pb-4">
      Transparency Module title
    </h1>
    <p class="text-xl text-white pb-4">
      This is the transparency module description.
    </p>
    <div class="grid grid-cols-2 gap-4 w-full">
      <div class="bg-gray-100 p-4">
        <h2 class="text-2xl font-bold">Text module</h2>
        <p class="text-xl">
          This is the transparency module description section.
        </p>
      </div>
      <div class="bg-gray-100 p-4">
        <h2 class="text-2xl font-bold">Image module</h2>
        <p class="text-xl">This is the image description with section</p>
      </div>
      <div class="bg-gray-100 p-4">
        <h2 class="text-2xl font-bold">Image module</h2>
        <p class="text-xl">This is the image description with section</p>
      </div>
      <div class="bg-gray-100 p-4">
        <h2 class="text-2xl font-bold">Text module</h2>
        <p class="text-xl">
          This is the transparency module description section.
        </p>
      </div>
      <div class="bg-gray-100 p-4">
        <h2 class="text-2xl font-bold">Text module</h2>
        <p class="text-xl">
          This is the transparency module description section.
        </p>
      </div>
      <div class="bg-gray-100 p-4">
        <h2 class="text-2xl font-bold">Image module</h2>
        <p class="text-xl">This is the image description with section</p>
      </div>
      <div class="bg-gray-100 p-4">
        <h2 class="text-2xl font-bold">Image module</h2>
        <p class="text-xl">This is the image description with section</p>
      </div>
      <div class="bg-gray-100 p-4">
        <h2 class="text-2xl font-bold">Text module</h2>
        <p class="text-xl">
          This is the transparency module description section.
        </p>
      </div>
    </div>
  </section>
</Layout>
