<header class="py-6 px-4 mx-auto max-w-xl lg:py-14 lg:px-6">
  <div class="flex items-center justify-center mx-auto mb-8 lg:mb-16">
    <img
      src="https://ikatechsolutions.com/wp-content/uploads/2020/12/LOGO.svg"
      alt="Ikatech Logo"
      class="w-60"
    />
  </div>
</header>
